body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

* {
  color: white;
}

a {
  color: #00B7FF;
}

.btm-bar, .top-bar {
  height: 10%;
  background-color: #333;
  padding-left: 10%;
  display: flex;
  align-items: center;
}

.card-img {
  height: 100px;
}

.content li {
  color: black;
  list-style: none;
}

.content * {
  color: black;
}

.card-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.card {
  flex-shrink: 0;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 20px 10px;
  text-align: center;
}